<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag 'blueprint/custom.css', :media => 'screen' %>
<!--  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %> -->
  
  <!-- jQuery -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  
  <!-- AnythingSlider Plugins (optional) -->
  <script type="text/javascript" src="javascripts/jquery.easing.1.2.js"></script>
  <script type="text/javascript" src="javascripts/swfobject.js"></script>
  
  <!-- AnythingSlider -->
  <script type="text/javascript" src="javascripts/jquery.anythingslider.js"></script>
  
  <!-- Temas de AnythingSlider -->
  <%= stylesheet_link_tag 'anythingslider/anythingslider', :media => 'screen' %>
  <%= stylesheet_link_tag 'anythingslider/theme-metallic', :media => 'screen' %>
  <%= stylesheet_link_tag 'anythingslider/theme-minimalist-round', :media => 'screen' %>
  <%= stylesheet_link_tag 'anythingslider/theme-minimalist-square', :media => 'screen' %>
  <%= stylesheet_link_tag 'anythingslider/theme-construction', :media => 'screen' %>
  <%= stylesheet_link_tag 'anythingslider/thee-cs-portfolio', :media => 'screen' %>
  
  <%= csrf_meta_tag %>
  
  <script type="text/javascript">
    $(function () {
      $('#slider1').anythingSlider();
    });
  </script>

</head>

<header id="banner" >
  <h1><a href="#">OmniNet! <strong>Soluciones Integrales</strong></a></h1>
  <nav><ul class="list">
    <li class="active"><a href="#">INICIO</a></li>
    <li><a href="#">SERVICIOS</a></li>
    <li><a href="#">CONTACTO</a></li>
    <li><a href="#">NOSOTROS</a></li>
  </ul>
  </nav>
</header>

<body>
  <%= yield %>
</body>

<section id="extras" >

  <div class="blogroll">
    <h2>Enlaces</h2>
    <ul>
      <li><a href="http://itesrc.edu.mx" rel="external">ITESRC</a></li>
      <li><a href="htt://www.cisco.com" rel="external">Cisco</a></li>
      <li><a href="http://google.com" rel="external">Google</a></li>

      <li><a href="http://blog.exolimpo.com" rel="external">Exolimpo</a></li>
      <li><a href="http://blog.exolimpo.com" rel="external">Exolimpo</a></li>
      <li><a href="http://blog.exolimpo.com" rel="external">Exolimpo</a></li>

      <li><a href="http://blog.exolimpo.com" rel="external">Exolimpo</a></li>
      <li><a href="http://blog.exolimpo.com" rel="external">Exolimpo</a></li>
      <li><a href="http://blog.exolimpo.com" rel="external">Exolimpo</a></li>

      <li><a href="http://blog.exolimpo.com" rel="external">Exolimpo</a></li>
      <li><a href="http://blog.exolimpo.com" rel="external">Exolimpo</a></li>
      <li><a href="http://blog.exolimpo.com" rel="external">Exolimpo</a></li>


      <!-- Agregar más -->
    </ul>
  </div><!-- blogroll -->

  <div class="social">
    <h2>Social</h2>
    <ul class="list">
      <li><a href="http://facebook.com" rel="me">Facebook</a></li>
      <li><a href="http://twitter.com" rel="me">Facebook</a></li>
      <li><a href="http://youtube.com" rel="me">Facebook</a></li>
      <li><a href="http://aquidebeirelfeed.com" rel="alternate">RSS</a></li>
    </ul>

  </div>
</section>

<footer id="contentinfo" >
  <address id="about" class="vcard body">
    <span class="primary">
      <strong><a ref="#">OmniNet</a></strong>

      <span class="role">Soluciones Integrales</span>
    </span>
    <%= image_tag 'small_logo.png', :alt => "OmniNet", :width => '75', :height => '55' %>
    <span class="bio">Aquí va la descripción general de la empresa</span>
  </address>
  <p>2011 <%= link_to 'OmniNet', '#' %></p>
</footer>
</html>

